.home-container{
  @extend %box;
  .title{
    margin-bottom: 25px;
    font-weight: bold;
  }
  .text{
    margin-bottom: 10px;
  }
  .button {
    @extend %button;
    padding: 0px 50px 0px 50px;
    &:hover{
      background-color: black;
      color: white;
    }
  }
}
