@import 'common/mixins.scss';
@import 'variables.scss';
@import 'home.scss';
@import 'questions.scss';
@import 'result.scss';
*,
*:before,
*:after {
    box-sizing: border-box !important;
}

body {
  background-color: #fff;
  line-height: 1.25;
  font-family: 'Courier New', Courier, monospace;
}