.questions-container{
    @extend %box;
    text-align: left;
    .category{
        display: block;
        font-size: 10px;
    }
    .button {
        @extend %button;
        margin-right: 10px;
        &:hover{
            background-color: black;
            color: white;
        }
    }
    .button-wrapper{
        text-align: right;
    }
    .title{
        font-weight: bold;
    }
}