.result-container{
  @extend %box;
  padding: 0;
  margin-top: 20px;
  .title{
    margin-bottom: 25px;
  }
  .text{
    margin-bottom: 10px;
  }
  .button {
    @extend %button;
    margin-top: 0;
  }
  .button.active{
    background-color: black;
    color: white;
  }
  .head-line{
      padding: 20px;
      border-bottom: 5px solid black;
  }
  .item-row {
      padding: 20px;
      .question{
        text-align: left;
      }
      .button-wrapper > button:nth-last-child(1) {
        margin-left: 10px;
      }
  }
}
.result-title{
    margin-top: 10%;
    text-align: center;
    h1{
      font-weight: bold;
      font-size: 40px;
      margin-bottom: 0;
    }
    h3{
      display: inline-block;
      background-color: black;
      color: white;
      padding: 10px;
    }
}