%box {
  margin-top: 10%;
  text-align: center;
  border: 5px solid black;
  padding: 50px !important;
}
%button {
  margin-top: 30px;
  background-color: transparent;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 0;
  color: black;
}